.Main_Input_Login_Box {
    display: flex;
    flex-direction: column;
    margin-left: 50px; 
}
.Main_Input_Login_Box_Email_Box, .Main_Input_Login_Box_Password_Box {
    margin: 5px 0; 
}
.Main_Input_Login_Box_Email_Input, .Main_Input_Login_Box_Password_Input {
    width: 250px;
    height: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    border-width: 0;
    border-radius: 10px;
    font-size: 12px;
}
.Main_Input_Login_Box_Email_Text, .Main_Input_Login_Box_Password_Text {
    margin-bottom: 5px; 
    color: white;
    font-weight: bold;
}
.Main_Input_Login_Box_Forgot_Btn{
    color: white;
    text-align: right;
    margin-bottom: 15px;
    margin-right: 5px;
}  
.Main_Input_Login_Box_Sign_In_Btn{
    color: black;
    background-color: white;
    border-radius: 20px;
    width: 100%;
    padding: 10px 5px;
}
.Main_Input_Login_Box_Sign_In_Btn_Text{
    font-size: 14px;
    font-weight: bold;
}