.Main_Content_Home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
}
.Main_Content_Home_Amt_Enter_Box, .Main_Content_Home_Convert_Box {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.Main_Content_Home_Amt_Enter_Text, .Main_Content_Home_Convert_Box_Text {
  color: white;
  font-size: 13px;
}
.Main_Content_Home_Amt_Enter_Input, .Main_Content_Home_Convert_Box_Convert_Drop_Down {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  border-width: 0;
  border-radius: 20px;
  font-size: 12px;
}
.Main_Content_Home_Amt_Enter_Input::-webkit-outer-spin-button,
.Main_Content_Home_Amt_Enter_Input::-webkit-inner-spin-button,
.Main_Content_Home_Convert_Box_Convert_Drop_Down::-webkit-outer-spin-button,
.Main_Content_Home_Convert_Box_Convert_Drop_Down::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.Main_Content_Home_Amt_Enter_Input[type=number] ,.Main_Content_Home_Convert_Box_Convert_Drop_Down[type=number] {
  -moz-appearance: textfield;
}

.Main_Content_Home_Amt_Enter_Input::placeholder, .Main_Content_Home_Convert_Box_Convert_Drop_Down::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.Main_Content_Home_Convert_Box_Drop_Down_Container, .Main_Content_Home_Enter_Box_Drop_Down_Container {
  position: relative; 
}

.Main_Content_Home_Convert_Box_Drop_Down_Btn {
  padding: 5px 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  width: 100px;
}

.Main_Content_Home_Enter_Box_Drop_Down_Btn{
  padding: 5px 5px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  width: 50px;
}

.Main_Content_Home_Convert_Box_Drop_Down_Menu, .Main_Content_Home_Enter_Box_Drop_Down_Menu {
  position: absolute;
  list-style: none;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%; 
  left: 0; 
  z-index: 1;
  width: 80px;
  max-height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #aaa transparent;
  overflow:scroll;
}

.Main_Content_Home_Convert_Box_Drop_Down_Menu li, .Main_Content_Home_Enter_Box_Drop_Down_Menu li {
  padding: 5px;
  cursor: pointer;
  color: white;
}

.Main_Content_Home_Convert_Box_Drop_Down_Menu li:hover, .Main_Content_Home_Enter_Box_Drop_Down_Menu li:hover {
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.Main_Content_Home_Proceed_Btn {
  padding: 7px 20px;
  border: 1px solid #ccc;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  justify-content: flex-end;
  align-self: center;
  transition: all 0.3s ease;
  margin-top: 20px;
  font-weight: bold;
}

.Main_Content_Home_Proceed_Btn:hover {
  border: 1px solid white; 
  background-color: white;
  color: black;
  font-weight: bold;
}
