.Main_Home_Wallet_Heading{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    padding-left: 8px;
}
.Main_Home_Wallet_Box{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 120px;
}
.Main_Home_Wallet_Box_Header{
    display: flex;
    background-color: #2A2A2A;
    border-radius: 10px;
    justify-content: space-between;
    padding: 8px 10px 10px 10px;
    margin-bottom: 10px;
    align-items: center;
}
.Main_Home_Wallet_Sub_Heading_Left{
    color: white;
    font-size: 12px;   
}
.Main_Home_Wallet_Sub_Heading_Right{
    color: white;
}
.Main_Home_Wallet_Address_Text{
    color: grey;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}