.Main_Content_Account_scrollable_container{
    max-height: 300px; 
    overflow-y: auto; 
}
.Main_Content_Account_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 7px 20px;
    margin: 20px 0;
}
.Main_Content_Account_Transaction_Number, .Main_Content_Account_Date_And_Time{
    color: white;
    font-size: 15px;
}
.Main_Content_Account_Details_Btn{
    color: white;
    text-decoration: none;
    border: 1px solid white; 
    border-radius: 20px;       
    transition: all 0.3s ease;
    padding: 5px 22px;
    background-color: transparent;
    align-items: center;
}
    
.Main_Content_Account_Details_Btn:hover {
    font-weight: bold;
    color: black;
    background-color: white;
    position: static;
    cursor: pointer;
}