.Main_Social_Login_OAuth_Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Main_Social_Login_Main_Text {
    color: white;
    margin-bottom: 7px;
}
.Main_Social_Login_Icons_Box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 250px;
}
.Main_Social_Login_GBtn, .Main_Social_Login_ABtn, .Main_Social_Login_FBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main_Social_Login_GBtn .icon {
    color: #DB4437; 
    font-size: 24px;
    transition: all 0.3s ease;
}

.Main_Social_Login_ABtn .icon {
    color: #000000; 
    font-size: 35px;
    transition: all 0.3s ease;
}

.Main_Social_Login_FBtn .icon {
    color: #4267B2; 
    font-size: 24px;
    transition: all 0.3s ease;
}

.Main_Social_Login_GBtn .icon:hover, .Main_Social_Login_FBtn .icon:hover{
    font-size: 35px;
    position: relative;
}
.Main_Social_Login_ABtn .icon:hover{
    font-size: 45px;
    position: relative;
}
.Main_Social_Login_Register_Text{
    font-size: 11px;
    color: white;
    text-align: center;
    margin-right: 10px;
    margin-top: 7px;
}

.Main_Social_Login_Register_Btn_Text{
    color: white;
    text-decoration: none;
    border: 1px solid white; 
    border-radius: 20px;     
    padding: 5px 10px;       
    transition: all 0.3s ease;
    margin-top: 15px;
}

.Main_Social_Login_Register_Btn_Text:hover {
    font-weight: bold;
    font-size: 11px;
    color: black;
    background-color: white;
}
