.Main_Heading_Signup_Heading_Box{
    margin-top: 20px;
}
.Main_Heading_Signup_Heading{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.Main_Heading_Signup_Sub_Heading{
    font-size: 13px;
    font-weight: 300;
    color: white;
}